.concise-component .bar {
    min-width: var(--concise-base-unit);
    height: var(--concise-base-unit);
}

.concise-component .sidebar.bar {
    width: var(--concise-base-unit);
    height: 100vh;
}

@media (max-width: 329px) {
    .concise-component div.left-sidebar.sidebar.bar.spacer {
        display: none;
        width: 0px;
        height: 0px;
        opacity: 0;
    }
}
