main.concise-component header:has(a.header-link) {
    padding: 0;
    margin: 0;

    height: var(--concise-list-item-height);
    width: var(--concise-list-item-width);

    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
}

main.concise-component header > a.header-link {
    padding: var(--concise-grid-spacing);
    margin: 0;

    height: var(--concise-list-item-height);
    width: var(--concise-list-item-label-width);

    border-radius: 0;

    display: flex;
    align-items: center;
}

main.concise-component header > a.header-link > * {
    padding: 0;
    margin: 0;
}

main.concise-component header:has(> a.header-link:only-child) {
    justify-content: center;
}

main.concise-component header:has(> button.control) {
    justify-content: flex-end;
}

main.concise-component header:has(> span.icon) {
    justify-content: flex-start;
}

/**
 * Remove default PicoCSS button styles for control buttons
 */
main.concise-component header:has(a.header-link) > button.control {
    border: none;
    outline: none;
    box-shadow: none;
}
