.concise-component a.link {
    display: flex;
    align-items: center;

    padding-left: var(--concise-base-spacing);
    padding-right: var(--concise-base-spacing);
}

.concise-component a.icon-link.link {
    height: var(--concise-icon-control-height);
    width: var(--concise-icon-control-width);

    align-items: center;
    justify-content: center;

    padding: 0;
}

.concise-component a.link:hover * {
    color: var(--concise-color-white-light);
}

.concise-component a.link:active * {
    color: var(--concise-color-white-dark);
}
